<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com?plugins=forms"></script>
	</head>
	<body>
		<section class="bg-gray-100">
			<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
				<div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
					<div class="lg:col-span-2 lg:py-12">
						<div class="max-w-xl mt-2">
							<a href="#" class="text-2xl font-bold text-pink-600">
								Short URLs
							</a>

							<address class="mt-2 not-italic">
								A URL shortener, written in Python using Flask and SQL.
							</address>
						</div>
					</div>

					<div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12">
						<form action="/urls" method="post" class="space-y-4">
							<label class="sr-only" for="name">URL Name</label>
							<input
								class="w-full rounded-lg border-gray-200 p-3 text-sm"
								placeholder="My Awesome Url"
								type="text"
								name="name"
							/>

							<label class="sr-only" for="url">URL</label>
							<input
								class="w-full rounded-lg border-gray-200 p-3 text-sm"
								placeholder="https://url-to-shorten.xyz"
								type="url"
								name="long_url"
							/>

							<input
								type="submit"
								name="submit"
								value="Shorten URL"
								class="inline-block w-full rounded-lg bg-pink-600 px-5 py-3 font-medium text-white sm:w-auto"
							/>
						</form>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
